# Airflow
airflow.cfg
airflow/logs

# GCP
*.json
.env

# Terraform
# Local Terraform state files
*.tfstate
*.tfstate.*
crash.log
.terraform/
.terraform.lock.hcl
override.tf
override.tf.json
*.tfvars
*.tfplan
*.bak